// VARIAVEIS

// CORES
$preto: #000;
$light: #999;
$graphite: #444;
$graphite-dark: #222;
$branco: #FFF;
$vermelho: #BA262B;
$verde-claro: #26BA4D;
$verde-escuro: #006D1D;
$perola: #EFE6E5;
